<!DOCTYPE html>

<html lang="pl-PL">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" asp-href-include="lib/bootstrap-4.0.0-dist/**/*.min.css" />
    <link rel="stylesheet" href="~/css/Home/Index.css" />

    <script src="~/lib/GoogleCharts/loader.js"></script>
    <script src="~/lib/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap-4.0.0-dist/js/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Stock Exchange App</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="font-size: 2rem;">
                <li class="nav-item" style="margin-left: 25px;">
                    <span class="badge badge-success"><a class="nav-link" href="#">Wyszukaj sygnały</a></span>
                </li>
                <li class="nav-item" style="margin-left: 25px;">
                    <span class="badge badge-info"><a class="nav-link" asp-action="ShowIndex" asp-controller="Show">Pokaż walory</a></span>
                </li>
                <li class="nav-item" style="margin-left: 25px;">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">Szukaj danych</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron" style="background-color: #DFDFDF;">
        @RenderBody()
    </div>
</body>
</html>
