
<h2 ><span class="badge badge-secondary">Opis Strategii</span></h2>
<hr />
<h4><span class="badge badge-info">Strategia wejścia :</span></h4>
<ul class="list-group" style="max-width:500px;">
    <li class="list-group-item">przebicie ekstremum świeczki z poprzedniego miesiąca</li>
    <li class="list-group-item">wykorzystanie do 50% zmienności</li>
</ul>
