form.form-search-date {
    background-color: whitesmoke;
    border: 1px solid black;
    width: 40%;
    text-align: center;
    font-size: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
