<div class="row">
    <div class="col-2">
        @await Component.InvokeAsync("NavigationMenu")
    </div>

    <div class="col-10">
        <div class="alert alert-info text-center" role="alert">
            <h1>@ViewBag.Title.ToUpper()</h1>
        </div>
        <div class="btn-group" role="group">
            <a asp-action="ShowIndex" asp-route-name="@ViewBag.Title" class="btn btn-secondary">Dane Dzienne</a>
            <a asp-action="ShowMonths" asp-route-name="@ViewBag.Title" class="btn btn-secondary">Dane Miesięczne</a>
        </div>
        <h1>Details</h1>
    </div>
</div>